<h2 class="ui header">
  <i class="calendar alternate icon"></i>
  <div class="content">
    Dashboard
    <div class="sub header">Progress of the project stories</div>
  </div>
</h2>

{{#each model.steps as |step|}}
  <div class="ui top attached segment"><i class="step forward icon"></i> {{step.title}}</div>
  <div class="ui attached segment">
    {{#each model.project.stories as |story|}}
      {{#if story.step eq step}}
        {{ story.description }}
      {{/if}}
    {{/each}}
  </div>
{{/each}}

{{outlet}}