<h2 class="ui header">Steps</h2>

{{#link-to 'steps.new' class='ui button'}}
  <i class="'ui plus icon"></i>
  Add tag...
{{/link-to}}

<div class="ui divider"></div>

{{outlet}}

{{#ui-table
  elements=model.steps
  fields=model.fields
  operations=model.operations
  emptyMessage='No step to display'
}}{{/ui-table}}