<h2 class="ui header">Tasks</h2>

{{#link-to 'tasks.new' class='ui button'}}
  <i class="'ui plus icon"></i>
  Add task...
{{/link-to}}

<div class="ui divider"></div>

{{outlet}}

{{#ui-table
  elements=model.tasks
  fields=model.fields
  operations=model.operations
  emptyMessage='No task to display'
}}{{/ui-table}}